@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*Cambiar formato a bonito*/
html, body {
  height: 100%;
  width: 100%;
  font-familiar: 'Poppins', sans-serif;
  color: #222
}

.navbar-nav li {
  padding-right: 20px;
  
}
.nav-link {
  font-size: 1.1em !important;
  color:aliceblue !important;

}

.nav-link:hover {
  color: #c0a8a1 !important;

}

.navbar-brand {
    color:aliceblue !important;

}

.navbar-collapse {
  display: flex;
  flex-wrap: nowrap;
}


.main {
  width: 100%;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: auto;
  margin-left: auto;
}